:root{
    --bg-color: black;
    --color-primary: white;
    --color-secundary: #707070;
    --color-hover: #808080;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    background-color: var(--bg-color);
    height: 100vh;
}